<!-- views/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo App</a>
</nav>
<body>
  <h1><%= todo.title %></h1>
  <p>Date: <%= todo.date.toDateString() %></p>
  <p><%= todo.description %></p>
  <p><%= todo.userEmail %></p> 
  <% if (AdminUser === 'true') { %>
    <a class="btn btn-md btn-primary mx-2" href="/edit/admin/todo/<%= todo._id %>">Edit</a>
    <%} else { %>
      <a class="btn btn-md btn-primary mx-2" href="/edit/todo/<%= todo._id %>">Edit</a>
<% } %>
  <form action="/delete/todo/<%= todo._id %>" method="POST">
    <button  class="btn btn-danger btn-sm"  type="submit">Delete</button>
  </form>
</body>
</html>
